@media only screen and (max-width: 1200px){

    .hero-img::before{
        bottom: 0;
    }

    .service-container .service-container-box{
        padding: 125px 50px 150px !important;
    }
    .service-text{
        font-size: 20px;
    }
    .services-header h2 {
        font-size: 22px;
    }
    .international-textes{
        font-size: 22px;
    }
    .international-projects-container{
        flex-direction: column !important;
    }
    .international-project-box{
        width: 100% !important;
    }

    .heading-pixel-row{
        display: none;
    }

    #services svg{
        width: 100% !important;
    }

    .left-align{
        margin: 10px auto 10px 0;
    }
}

@media only screen and (max-width: 992px){
    
}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 600px){

    #expertise-html,#about-us-html{
        display: none;
    }


    .hero-text{
        margin: 0 0 0 0px;
        flex-wrap: wrap;
    }
    #hero-section{
        padding: 100px 0 0 0;
    }
    #hero-text-are{
        margin-top:13% !important;
    }
    #hero-scroll{
        bottom: 50px;
    }
    .hero-img{
        margin: 35px 25px 0;
    }
    .about-us-icon-container{
        flex-direction: column;
    }

    .heading-text, .heading-alternative-text {
        font-size:32px;
    }


    .international-projects-containe{
        flex-direction: column;
    }
    #country-projects{
        padding: 10px 0px !important;
    }

    #case-studies-list{
        flex-direction: column;
    }
    .portofolio-underheader{
        margin:0 10px;
        text-align: center;
    }

    #clients-section{
        flex-direction: column-reverse;
        padding: 10px 10px;
    }
    .client-info{
        width: 100% !important;
    }
    .client-logo {
        width: 100%;
        margin-top:0px;
    }
    .platforms-container{
        flex-direction: column;
        align-items: center;
    }
    .platform-link{
        width: 50%;
    }

    .heading-red-stroke{
        padding:10px 25px;
        margin:0 !important;
    }

    #badges-owl{
        padding: 0 5px !important;
    }
    .footer-2 .footer-row{
        flex-direction: column;
    }
    #brands-logo-container img{
        margin: 10px 15px;
        width: 100px;
    }
    .heading-text .letter{
        transform: translateY(0) !important;
    }

    .texting{
        padding: 0 5px !important;
        font-size: 22px;
    }

    .about-us-icon{
        transform: translateY(0) !important;
    }

    #_1{
        transform: rotate(90deg);
        transform-origin: 540px 540px;
    }

    .service-container .service-container-box{
        padding: 125px 50px 150px 30px !important;
    }

    .service-text{
        font-size: 14px;
    }
    .services-header h2 {
        font-size: 14px;
    }
    .case-study-about-row,.case-study-pruporsal,.case-study-solution{
        flex-direction: column;
        padding:10px 20px !important;
    }
    .case-study-about-row div,.case-study-pruporsal div,.case-study-solution div{
        width: 100% !important;
    }

    .case-study-chapters-container{
        flex-wrap: wrap;
    }
    .case-study-chapter{
        margin-bottom: 25px;
    }
    
}