
$black: #000;
$white: #fff;
$gray: #7F7F7F;

$redPrimary: #C01C2B;
$redAccent: #CF1C30;

$headingGray: #323232;
$textBlue: #0A142F;


@font-face {
    font-family: 'Montserrat';
    src: url('/resources/fonts/montserrat.ttf');
}

*{
    font-family: 'Montserrat';
    font-weight: bold;
    box-sizing: border-box;
    margin:0;
    padding:0;
}





// Header - start
#page-header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#header-wrapper{
    width: 100%;
    padding: 0 25px;;
}
.header-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    // padding: 0 25px;
}

.header-logo-container img{
    height: 90px;
    width: auto;
    opacity: 0;
}

.burger-menu{
    cursor: pointer;
}

.burger-menu-text{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    font-size: 28px;
}
.burger-menu-text span{
    font-size: 28px;
}
.bar{
    width: 90%;
    height: 3px;
    background-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.3s ease;
}

.bar-2{
    margin-left: auto;
    margin-right: 0;
}

.closed-menu:hover .bar-2{
    transform: translateX(-10%);
}
.closed-menu:hover .bar-1,
.closed-menu:hover .bar-3{
    transform: translateX(10%);
}

.menu-open .bar-1{
    transform: translate(0px, 10px) rotate(45deg);
}
.menu-open .bar-3{
    transform: translate(0px, -6px) rotate(-45deg);
}
.menu-open .bar-2{
    transform: translateX(20px);
    opacity: 0;
}
// Header - end





// Footer - start
.footer-1{
    padding: 0 25px;
    background-color: $white;
    border-top: 1px solid $redAccent;
    border-bottom: 1px solid $redAccent;
}

.footer-2{
    padding: 25px 25px;
    background-color: $black;
}

.footer-2 .footer-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.footer-social-link{
    color: $white;
    text-decoration: none;
    font-size: 32px;
    margin:0 5px;
    transition: 0.3s ease;
}
.footer-social-link:hover{
    color:$redAccent;
}
.copyrights{
    color: $gray;
}

// Footer - end


.heading{
    color: $headingGray;
    position: relative;
    width: max-content;
    padding: 10px 80px;    
}
.heading-text{
    font-size: 38px;
    position: relative;
    z-index: 10;
}
.heading::before{
    content:"";
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: $redAccent;
}
.center-align{
    margin:10px auto;
}

.left-align{
    margin:10px auto 10px 0;
}

.right-align{
    margin:10px 0 10px auto;
}

.texting{
    color:$black;
    font-size: 22px;
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.texting-center-align{
    text-align: center;
}

.section-limited-width{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.section-full-width{
    max-width: 100%;
    width: 100%;
}









// Hero section - start

#hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 200px 0 0 0;
}

.hero-text{
    margin: 0 0 0 180px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
   
}
.hero-text span{
    margin-top: 10px;
    font-size: 86px;
}
#hero-text-we{
    position: relative;
}
#hero-text-we::before{
    content: "";
    position: absolute;
    width: 600%;
    height: 3px;
    bottom: 0;
    left: -600%;
    background-color: $redAccent;
}

.hero-img{
    position: relative;
    width: 250px;
    margin-left: 100px;
}
.hero-img img{
    width: 100%;
}
.hero-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $redAccent;
    bottom: -5%;
    left: -70%;
}



#hero-scroll{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
}

.hero-scroll-btn{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color:$redAccent;
    font-size: 24px;
    position: relative;
    padding-bottom: 15px;
}

.hero-scroll-btn::before{
    width: 85%;
    height: 3px;
    background-color: $redAccent;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    transition: 0.3s ease;
}
.hero-scroll-btn::after{
    width: 50%;
    height: 3px;
    background-color: $redAccent;
    position: absolute;
    bottom: 10px;
    right: -10%;
    content: "";
    transition: 0.3s ease;
}
.hero-scroll-btn:hover::after{
    transform: translateX(-160%);
}
.hero-scroll-btn:hover::before{
    transform: translateX(15%);
}

// Hero section - end