
$black: #000;
$white: #fff;
$gray: #7F7F7F;

$redPrimary: #C01C2B;
$redAccent: #CF1C30;

$headingGray: #323232;
$textBlue: #0A142F;


@font-face {
    font-family: 'Montserrat-bold';
    src: url('/resources/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-regular';
    src: url('/resources/fonts/Montserrat-Regular.ttf');
}

*{
    font-family: 'Montserrat-bold';
    box-sizing: border-box;
    margin:0;
    padding:0;
}





// Header - start
#page-header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#header-wrapper{
    width: 100%;
    padding: 0 25px;;
}
.header-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    // padding: 0 25px;
}

.header-logo-container img{
    height: 90px;
    width: auto;
    opacity: 0;
}

.burger-menu{
    cursor: pointer;
}

.burger-menu-text{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    font-size: 28px;
}
.burger-menu-text span{
    font-size: 28px;
}
.bar{
    width: 90%;
    height: 3px;
    background-color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    transition: 0.3s ease;
}

.bar-2{
    margin-left: auto;
    margin-right: 0;
}

.closed-menu:hover .bar-2{
    transform: translateX(-10%);
}
.closed-menu:hover .bar-1,
.closed-menu:hover .bar-3{
    transform: translateX(10%);
}

.menu-open .bar-1{
    transform: translate(0px, 10px) rotate(45deg);
}
.menu-open .bar-3{
    transform: translate(0px, -6px) rotate(-45deg);
}
.menu-open .bar-2{
    transform: translateX(20px);
    opacity: 0;
}
// Header - end





// Footer - start
.footer-1{
    padding: 20px 25px;
    background-color: $white;
    border-top: 1px solid $redAccent;
    border-bottom: 1px solid $redAccent;
}

.footer-1 .footer-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
}


.footer-2{
    padding: 25px 25px;
    background-color: $black;
}

.footer-2 .footer-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.footer-social-link{
    color: $white;
    text-decoration: none;
    font-size: 32px;
    margin:0 5px;
    transition: 0.3s ease;
}
.footer-social-link:hover{
    color:$redAccent;
}
.copyrights{
    color: $gray;
}

// Footer - end


.heading,.heading-alternative{
    color: $headingGray;
    position: relative;
    width: max-content;
    padding: 10px 80px;    
}

.heading-red{
    color: $redAccent;
    position: relative;
    width: max-content;
    padding: 10px 80px;    
}
.heading-red-stroke{
    text-shadow: -1px 1px $redAccent,
    1px 1px $redAccent,
    1px -1px $redAccent,
    -1px -1px $redAccent;
    color:$white;
    position: relative;
    width: max-content;
    padding: 10px 80px;    
}
.heading-text,.heading-alternative-text{
    font-size: 44px;
    position: relative;
    z-index: 10;
}
.heading::before{
    content:"";
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: $redAccent;
}
.center-align{
    margin:10px auto;
}

.left-align{
    margin:10px auto 10px 0;
}

.right-align{
    margin:10px 0 10px auto;
}

.texting{
    color:$black;
    font-size: 22px;
    position: relative;
    width: 100%;
    margin: 10px auto;
}

.texting-center-align{
    text-align: center;
}

.section-limited-width{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.section-full-width{
    max-width: 100%;
    width: 100%;
}









// Hero section - start

#hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 200px 0 0 0;
}

.hero-text{
    margin: 0 0 0 180px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
   
}
.hero-text span{
    margin-top: 10px;
    font-size: 86px;
}
#hero-text-we{
    position: relative;
}
#hero-text-we::before{
    content: "";
    position: absolute;
    width: 600%;
    height: 3px;
    bottom: 0;
    left: -600%;
    background-color: $redAccent;
}

.hero-img{
    position: relative;
    width: 250px;
    margin-left: 100px;
}
.hero-img img{
    width: 100%;
}
.hero-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: $redAccent;
    bottom: -5%;
    left: -70%;
}



#hero-scroll{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
}

.hero-scroll-btn{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color:$redAccent;
    font-size: 24px;
    position: relative;
    padding-bottom: 15px;
}

.hero-scroll-btn::before{
    width: 85%;
    height: 3px;
    background-color: $redAccent;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    transition: 0.3s ease;
}
.hero-scroll-btn::after{
    width: 50%;
    height: 3px;
    background-color: $redAccent;
    position: absolute;
    bottom: 10px;
    right: -10%;
    content: "";
    transition: 0.3s ease;
}
.hero-scroll-btn:hover::after{
    transform: translateX(-160%);
}
.hero-scroll-btn:hover::before{
    transform: translateX(15%);
}

// Hero section - end





// Platforms - start

.platforms-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.platform-link{
    width: 15%;
    margin:0 25px;
}

.platform-box{
    width: 100%;
    height: max-content;
}

.platform-box img{
    width: 100%;
    height: max-content;
}

// Platforms - end




// Contact - start



.contact-form-container{
    width: 100%;
    padding: 10px 80px;
}

.contact-form-container input,
.contact-form-container textarea{
    width: 100%;
    border:none;
    outline: none;
    border-bottom: 1px solid $redAccent;
    color:$black;
    padding: 10px;
    font-size: 22px;
}

.contact-form-container textarea{
    resize: vertical;
}

// Contact - end



// SLIDER - start

.slider-button{
    border-radius: 1000px;
    border: 2px solid $redAccent;
    color: $redAccent;
    background:none;
    outline: none;
    padding: 7px 12px;
    cursor: pointer;
    font-size: 30px;
}

.slider-button-alternative{
    border-radius: 1000px;
    border: none;
    color: $redAccent;
    background:none;
    outline: none;
    padding: 2px 4px;
    cursor: pointer;
    font-size: 30px;
}

.slider-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

// SLIDER - end





// Certificates - start

#certificates-slider{
    width: 90%;
    margin:20px auto 0 ;
}

// Certificates - end

#service-slider-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.slider-service-btn{
    width: 50px;
    height: 50px;
    background: none;
    outline: none;
    border:2px solid $redAccent;
    border-radius: 100px;
    font-size: 1.3em;
    cursor: pointer;
    margin:0 20px;
    transition: 0.3s ease;
}

.slider-service-btn.active{
    background: $redAccent;
    color:$white;
}

.slider-button-container{
    width:10%;
}

.badge-img{
    width: 300px;
    height: auto;
    margin: 0 15px;
}



// Clients section - start

#clients-section{
    padding: 10px 80px;
}

.client-name{
    font-family: "Montserrat-bold";
    text-transform: uppercase;
    color:$redAccent;
    font-size:42px;
}

.client-header{
    font-family: "Montserrat-regular";
    font-size: 24px;
    margin: 20px 0 15px;
}

.client-text{
    font-family: "Montserrat-regular";
    font-size: 18px;
}


// Clients section - end




// Portofolio - start

.portofolio-underheader{
    text-align: center;
    font-family: "Montserrat-regular";
    font-size: 18px;
}

.portofolio-slide-item{
    width: 200px;
    height: 300px;
    border-radius: 30px;
    background:red;
    transition: 0.2s;
    margin: 10px 25px;
}
.portofolio-slide-item:hover{
    width: 220px;
    height: 320px;
}

// Portofolio - end