
@keyframes loader-logo {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.5;
    }
    
}

#page-loader-icon{
    animation: loader-logo 0.5s ease-in-out infinite alternate;
}


@keyframes strokedashoffset {
    from{
        stroke-dashoffset: 2000;
    }
    to{
        stroke-dashoffset: 0;
    }
}

#untitled-path1{
    stroke-dasharray: 2000;
    animation: strokedashoffset 5s infinite alternate;
}
#untitled-copy-of-path{
    stroke-dasharray: 2000;
    animation: strokedashoffset 6s infinite alternate;
}